<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="description" content="<%= description %>">
<meta name="keywords" content="<%= keywords %>">
<meta name="author" content="<%= author %>"> 
<!-- Stylesheets -->
<!-- link rel="stylesheet" href="./css/jquery-ui.css"></link -->
<!-- link rel="stylesheet" href="./css/bootstrap-theme.css"></link -->
<!-- link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link -->
<link href="http://localhost:2000/themes/mydefaulttheme/css/bootstrap.min.css" rel="stylesheet">
<!-- Font awesome icon -->
<link rel="stylesheet" href="http://localhost:2000/themes/mydefaulttheme/css/font-awesome.min.css">
<!-- jQuery UI -->
<link rel="stylesheet" href="http://localhost:2000/themes/mydefaulttheme/css/jquery-ui.css">
<!-- Calendar -->
<link rel="stylesheet" href="http://localhost:2000/themes/mydefaulttheme/css/fullcalendar.css">
<!-- prettyPhoto -->
<link rel="stylesheet" href="http://localhost:2000/themes/mydefaulttheme/css/prettyPhoto.css">
<!-- Star rating -->
<link rel="stylesheet" href="http://localhost:2000/themes/mydefaulttheme/css/rateit.css">
<!-- Date picker -->
<link rel="stylesheet" href="http://localhost:2000/themes/mydefaulttheme/css/bootstrap-datetimepicker.min.css">
<!-- CLEditor -->
<link rel="stylesheet" href="http://localhost:2000/themes/mydefaulttheme/css/jquery.cleditor.css">
<!-- Data tables -->
<link rel="stylesheet" href="http://localhost:2000/themes/mydefaulttheme/css/jquery.dataTables.css">
<!-- Bootstrap toggle -->
<link rel="stylesheet" href="http://localhost:2000/themes/mydefaulttheme/css/jquery.onoff.css">
<!-- Main stylesheet -->
<link href="http://localhost:2000/themes/mydefaulttheme/css/style.css" rel="stylesheet">
<!-- Widgets stylesheet -->
<link href="http://localhost:2000/themes/mydefaulttheme/css/widgets.css" rel="stylesheet">

<script src="http://localhost:2000/js/lib/respond.min.js"></script>
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

<!-- Favicon -->
<link rel="shortcut icon" href="http://localhost:2000/themes/mydefaulttheme/img/favicon/favicon.png">  
<link rel="stylesheet" href="http://localhost:2000/pages/quizengine/css/styles.css">

<link rel="stylesheet" href="./css/login.css"></link>
<script type="text/javascript" src="./js/lib/jquery.js"></script>
<script type="text/javascript" src="./js/login/views/login.js"></script>
<style>
	body { padding-top:50px; }
</style>