<!DOCTYPE html>
<html manifest="" lang="en-GB">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
        <meta charset="UTF-8">
        <title><%= title %></title>
        <meta name="description" content="<%= description %>" />
        <meta name="keywords" content="<%= keywords %>" />
        <meta name="author" content="<%= author %>" />
        <meta http-equiv="Access-Control-Allow-Origin" content="<%= access_control_allow_origin %>" />
        <meta http-equiv="Access-Control-Allow-Methods" content="GET, POST, PUT" />
        <!-- Favicon -->
        <link rel="shortcut icon" type"image/x-icon" href="<%= theme_server_value %>/themes/mydefaulttheme/img/favicon/favicon.png" />
        <link rel="shortcut icon" type"image/png" href="<%= theme_server_value %>/themes/mydefaulttheme/img/favicon/favicon.png" />
        <!--[if IE]>
            <link rel="shortcut icon" href="<%= theme_server_value %>/themes/mydefaulttheme/img/favicon/favicon.ico" />
        <![endif]-->
        <!-- Stylesheets -->
        <link href="<%= theme_server_value %>/themes/mydefaulttheme/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font awesome icon -->
        <link rel="stylesheet" href="<%= theme_server_value %>/themes/mydefaulttheme/css/font-awesome.min.css">
        <!-- jQuery UI -->
        <link rel="stylesheet" href="<%= theme_server_value %>/themes/mydefaulttheme/css/jquery-ui.css">
        <!-- Calendar -->
        <link rel="stylesheet" href="<%= theme_server_value %>/themes/mydefaulttheme/css/fullcalendar.css">
        <!-- prettyPhoto -->
        <link rel="stylesheet" href="<%= theme_server_value %>/themes/mydefaulttheme/css/prettyPhoto.css">
        <!-- Star rating -->
        <link rel="stylesheet" href="<%= theme_server_value %>themes/mydefaulttheme/css/rateit.css">
        <!-- Date picker -->
        <link rel="stylesheet" href="<%= theme_server_value %>/themes/mydefaulttheme/css/bootstrap-datetimepicker.min.css">
        <!-- CLEditor -->
        <link rel="stylesheet" href="<%= theme_server_value %>/themes/mydefaulttheme/css/jquery.cleditor.css">
        <!-- Data tables -->
        <link rel="stylesheet" href="<%= theme_server_value %>/themes/mydefaulttheme/css/jquery.dataTables.css">
        <!-- Bootstrap toggle -->
        <link rel="stylesheet" href="<%= theme_server_value %>/themes/mydefaulttheme/css/jquery.onoff.css">
        <!-- Main stylesheet -->
        <link href="<%= theme_server_value %>/themes/mydefaulttheme/css/style.css" rel="stylesheet">
        <!-- Widgets stylesheet -->
        <link href="<%= theme_server_value %>/themes/mydefaulttheme/css/widgets.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" media="all" href="<%= css_file_location %>">

        <!-- Start of TEMP - move to js/common.js  -->
<!--        <script src="<%= theme_server_value %>/js/lib/jquery.js"></script>       -->
<!--        <script src="<%= theme_server_value %>/js/lib/underscore.js"></script>   -->
<!--        <script src="<%= theme_server_value %>/js/lib/backbone.js"></script>     -->
<!--        <script src="<%= theme_server_value %>/js/lib/backbone.marionette.js"></script>  -->
        <!-- End of TEMP -->

        <script src="<%= theme_server_value %>/js/lib/respond.min.js"></script>
        <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <![endif]-->
        <script>
        // See http://www.ejeliot.com/blog/109
            function loadScript(src, async, elem, callback){
                console.log('CORE: loadScript called');
                // Loads a script.
                elem = elem || document.createElement('script');
                elem.async = elem.defer = async;
                elem.src = src;
                console.log('CORE: elem = ' + elem);
                if(callback) {
                    if(elem.readyState) {
                        console.log('CORE: elem.readyState is true');
                        // IE
                        elem.onreadystatechange = function() {
                            if(elem.readyState == "loaded" || elem.readyState == "complete") {
                                elem.onreadystatechange = null;
                                callback();
                            }
                        };
                    } else {
                        console.log('CORE: elem.readyState is false');
                        // Good browsers
                        elem.onload = function() {
                            console.log('CORE: elem.onload set');
                            callback();
                        }
                    }
                }
                insertScript(elem);
            }
            function insertScript(e) {
                console.log('CORE: insertScript(e) called');
                console.log('CORE: e = ' + e);
                document.getElementsByTagName('head')[0].appendChild(e);
            }
        </script>
        <script>
            var doNext = function() {
                console.log('CORE: doNext called');
                //Load common code that includes config, then load the app
                //logic for this page. Do the require calls here instead of
                //a separate file so after a build there are only 2 HTTP
                //requests instead of three.
                require(['./js/common'], function (common) {
                    console.log('CORE: page: common required');
                    console.log(common);
                    //js/common sets the baseUrl to be js/ so
                    //can just ask for 'app/main' here instead
                    //of 'js/app/main'
                    require(['app/main'], function (main) {
                         console.log('CORE: page: main required');
                         console.log(main);
                         // Set app (e.g. 'calculator')
                         console.log('CORE: page: main.setAppName("<%= app_name %>")');
                         main.setAppName('<%= app_name %>');
                         // Set viewIndex (e.g. 0)
                         console.log('CORE: page: main.setViewIndex(<%= view_index %>)');
                         main.setViewIndex(<%= view_index %>);
                         // Set elementId (e.g. 'page')
                         console.log('CORE: page: main.setElementId("page")');
                         main.setElementId('page');
                         // Make main globally accessible, by tying it to the global 'window' object
                         // It can then be accessed like so: window.CORE.main
                         console.log('CORE: page: global window.CORE.main');
                         window.CORE = {};
                         window.CORE.main = main;
                         // Call ready()
                         console.log('CORE: page: main.ready()');
                         main.ready();
                    });
                });
            };
        </script>
    </head>
    <body onload="loadScript('js/lib/require.js', true, null, doNext)">
        <div id="page">
            <!-- loadingCSS -->
            <style type="text/css">
                 /**
                 * Example of an initial loading indicator.
                 * It is recommended to keep this as minimal as possible to provide instant feedback
                 * while other resources are still being loaded for the first time
                 */
                html, body {
                    height: 100%;
                    background-image: url('img/bg/noise.png') !important;
                    background-color: rgb(217, 219, 222);
                }
                #loadingIndicator {
                    position: absolute;
                    top: 50%;
                    margin-top: -15px;
                    text-align: center;
                    width: 100%;
                    height: 30px;
                }
                #first {
                    -webkit-animation-name: first;
                    -webkit-animation-duration: 0.5s;
                    -webkit-animation-iteration-count: infinite;
                    -webkit-animation-direction: linear;
                }
                #second {
                    -webkit-animation-name: second;
                    -webkit-animation-duration: 0.5s;
                    -webkit-animation-iteration-count: infinite;
                    -webkit-animation-direction: linear;
                }
                #third {
                    -webkit-animation-name: third;
                    -webkit-animation-duration: 0.5s;
                    -webkit-animation-iteration-count: infinite;
                    -webkit-animation-direction: linear;
                }
                #loadingIndicator div {
                    background-color: #FFFFFF;
                    display: inline-block;
                    height: 30px;
                    -webkit-border-radius: 15px;
                    margin: 0 5px;
                    width: 30px;
                    opacity: 0.8;
                }
                #loadingIndicator p {
                    color: #FFFFFF;
                    text-align: center;
                    width: 100%;
                    margin-bottom: 20px;
                }
                @-webkit-keyframes first{
                    0% {
                        opacity: 0.8
                    }
                    33% {
                        opacity: 0.4
                    }
                    50% {
                        opacity: 0
                    }
                    66% {
                        opacity: 0.4
                    }
                    100% {
                        opacity: 0.8
                    }
                }
                @-webkit-keyframes second{
                    0% {
                        opacity: 0.8
                    }
                    33% {
                        opacity: 0.8
                    }
                    50% {
                        opacity: 0.4
                    }
                    66% {
                        opacity: 0.0
                    }
                    100% {
                        opacity: 0.4
                    }
                }
                @-webkit-keyframes third{
                    0% {
                        opacity: 0.4
                    }
                    33% {
                        opacity: 0.8
                    }
                    50% {
                        opacity: 0.8
                    }
                    66% {
                        opacity: 0.4
                    }
                    100% {
                        opacity: 0.0
                    }
                }
            </style>
            <div id="loadingIndicator">
                <p>LOADING</p>
                <div id="first"></div>
                <div id="second"></div>
                <div id="third"></div>
            </div>
        </div>
    </body>
</html>
